/**
 * Basic typography style for text
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

h1 {
  font-size: 4.0rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3.0rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

blockquote {
  margin: 0 0 2rem 1rem;
  border-left: 0.5rem solid $gray-darker;
  padding: 2rem 1rem;

  p:last-child{
    padding-bottom: 0;
  }
}

small,
sub,
sup {
  font-size: $font-size--sm;
  line-height: 1;
}

caption,
figcaption {
  font-size: $font-size--sm;
  font-style: italic;
  text-align: center;
}

em,
cite,
i {
  font-style: italic;
}

q {
  &:before {
    content: "'";
  }

  &:after {
    content: "'";
  }

  & > q {
    font-style: italic;
  }
}

dfn,
abbr {
  border-bottom: .1rem dotted $gray-light;
  cursor: default;
}



