// Font variables
$font-sans: "Roboto", Helvetica, Arial, sans-serif !default;
$font-serif:       "Merriweather", Georgia, "Times New Roman", Times, serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-base:        $font-sans;
$font-color:       $gray !default;

$font-size:                1.6rem !default;
$font-size--lg:            ceil($font-size * 1.23); // ~20px
$font-size--md:            ceil($font-size * 1.14); // ~16px
$font-size--sm:            ceil($font-size * 0.92); // ~13px
$font-size--xs:            ceil($font-size * 0.85); // ~12px