// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn,
.button {
  background-color: $white;
  border-radius: $button-radius;
  border: 3px solid $black;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 2rem;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  white-space: nowrap;
  width: auto;

  &:focus,
  &:hover {
    background: $black;
    color: $white;
  }

  &:focus{
    outline: 1px dotted $gray;
  }
}

.button--inverse {
  background-color: $black;
  color: $white;

  &:focus,
  &:hover {
    background: $white;
    color: $black;
  }
}