// Grid elements

// grid parent
.grid {
  display: grid;
}

// grid modifiers
.grid--col {
  row-gap: 2rem;

  &-three,
  &-four {
    grid-template-columns: 1fr;
  }
}

@media (#{$bp-tablet}) {
  .grid--col {
    column-gap: 2rem;
    row-gap: 0;

    &-three {
      grid-template-columns: repeat(3, 1fr);
    }

    &-four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (#{$bp-desktop}) {
  .grid--col {
    column-gap: 4.5rem;
  }
}
